@media print {
  html, body {
    width: 100%;
    font-family: Arial, sans-serif;
    color: black;
  }
  header, footer, aside {
    display: none;
  }
  h1 {
    text-shadow: none;
  }
  table td, tfoot, thead {
    border-color: #000;
  }
}
@media only screen and (min-width: 1280px) {
  body {
  }
  
}
@media only screen and (min-width : 1024px) and (max-width : 1280px) {
  body {
  }
  
}
@media only screen and (max-width: 1024px) {
  body {
  }
  
}